{% extends "base.html" %}

{% block content %}


<br/>
<br/>
<br/>
<div>

    <div class="container" ng-controller="loginCtrl">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
                <form role="form" method="POST" ng-submit="loginUser()" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" autofocus ng-model="user.email" name="email" form-name="user_login"/>
                        {{ form_errors.email.0 }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" ng-model="user.password" name="password" form-name="user_login"/>
                        {{ form_errors.password.0 }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-wide btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}